.principal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: blue;
}

.linea{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 80px;
}